*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html{
  background-color: #1b1b32;
}

h1{
  color: #1b1b32;
  font-size: 25px;
  font-family: Lato, sans-serif;
  text-align: center;
  margin: 20px 0px;
}
.App{
  height: 100vh;
  background-color: #1b1b32;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  font-family: Lato, sans-serif;
}

/*Estido aplicado a lista de tareas*/
.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}
